*{
    padding: 0%;
    margin: 0%;
}


label {
    display: block;
    font: 1rem 'Fira Sans', sans-serif;
}

input,
label {
    margin: .4rem 0;
}

#central{
    margin-top: 10%;
    margin-bottom: 30%;
    margin-left: 30%;
    margin-right: 30%;
    
}

.title{
    text-align: center;
}
